.page-content {
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;

  .header-img {
    position: relative;
    img {
      border-radius: 20px;
    }

    ion-button {
      position: absolute;
      right: 12px;
      bottom: -24px;
      width: 60px;
      height: 60px;
      --border-radius: 50%;
    }
  }

  .post-body {
    font-size: 16px;
    color: var(--ion-color-dark-tint);
    line-height: 1.5;
  }

  .post-category {
    margin-inline-end: 6px;
  }

  .post-comments {
    margin-top: 16px;
  }
}

::ng-deep {
  .post-body {
    img {
      height: 100%;
    }
  }
}